body{
	background-color:#000000; 
	font-family: "Helvetica",Arial; 
	background-image: url(Imagenes/liga.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	
	
}

nav {
	margin-right: 20px;
	color:rgba(26, 10, 7);
	cursor: pointer;


}
h1{
	color: #;

}
h2{

	margin: 0 Arial;
	text-align: center;
}
*{
	margin: 0px;
	padding: 0px;
	}
	p{
		color:#000000;
	}